.login-container {
    margin-top: 15px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.alert {
    margin-bottom: 20px;
}
